body {
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    width: 250px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: minmax(100px, auto) repeat(5, 30px);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    justify-content: center;
    align-content: center;
    padding: 10px 0;
    border: 1.5px solid rgb(39, 54, 43);
    border-radius: 5px;
    box-shadow: 0 0 60px rgb(39, 54, 43);
    background-color: rgb(195, 206, 196);
}

.paragraphs {
    grid-column: 1 /  span 4;
    text-align: right;
    padding-right: 20px;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #eee;
}

.p1 {
    font-size: 16px;
    color: #666;
}

.p2 {
    font-size: 24px;
}

.button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #eee;
}

.button:hover{
    color:white;
    background-color: rgb(39, 54, 43);
}

.button:nth-child(2):hover {
    color: rgb(39, 54, 43);
    background-color: white;
}
.button:nth-child(3):hover {
    color: rgb(39, 54, 43);
    background-color: white;
}
.button:nth-child(4):hover {
    color: rgb(39, 54, 43);
    background-color: white;
}
.button:nth-child(5):hover {
    color: rgb(39, 54, 43);
    background-color: white;
}
.button:nth-child(9):hover {
    color: rgb(39, 54, 43);
    background-color: white;
}
.button:nth-child(13):hover {
    color: rgb(39, 54, 43);
    background-color: white;
}
.button:nth-child(17):hover {
    color: rgb(39, 54, 43);
    background-color: white;
}
.button:nth-child(21):hover {
    color: rgb(39, 54, 43);
    background-color: white;
}

.button:nth-child(2),
.button:nth-child(3),
.button:nth-child(4),
.button:nth-child(5),
.button:nth-child(9),
.button:nth-child(13),
.button:nth-child(17),
.button:nth-child(21) {
    background-color:rgb(39, 54, 43);
    color: #fff;
}

.button:nth-child(20) {
    color: rgb(39, 54, 43);
    background-color: white;
}
.button:nth-child(20):hover {
    color:white;
    background-color: rgb(39, 54, 43);
}